*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'arial';
    
}

/* Header Styles */
.header-inner-content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    background-color: #2c2c2c;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 99;
}

.navbar>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: #0084ff;
    
}

.logo span {
    color: #fff;
}

nav ul{
    list-style: none; /* Remove os marcadores da lista */
    display: flex;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 30px;
    cursor: pointer; 
}

.nav-icon-container img:first-child {
    margin-right: 1rem;
}

nav ul li {
    color: #fff;
    margin-right: 1.5rem;
    cursor: pointer; /* Adiciona o cursor de ponteiro ao passar o mouse */
}

nav ul li:hover {
    transform: translateY(-5px); /* Move para cima 5px */
    transition: all 0.2s; /* Transição suave ao descer e subir */
    font-weight: bold; /* Deixa o texto em negrito ao passar o mouse */
}

.menu-button {
    display: none; /* Oculta o botão de menu por padrão */
}

header {
    background-image: radial-gradient(#fff, #c7c7c7);
}

.header-bottom-side {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-bottom-side-left {
    flex-basis: 50%; /* Ocupa 50% do espaço disponível */
    height: 100%;
}

.header-bottom-side-left h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left button {
    background-color: #0084ff;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem; /* Espaçamento interno do botão */
    border-radius: 9999px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto */
    font-weight: 500; /* Peso da fonte */
    font-size: 1rem; /* Tamanho da fonte */
    transition: all 0.2s; /* Transição suave para o efeito hover */
}

.header-bottom-side-left button:hover { /* Efeito ao passar o mouse */
    background-color: #004c94;

}

.header-bottom-side-right {
    flex-basis: 50%; /* Ocupa 50% do espaço disponível */
    display: flex;
    align-self: center;
    justify-content: center;
}

.header-bottom-side-right img {
    width: 115%;
}

/* Media Queries */
@media (max-width: 800px) {
    .logo {
        font-size: 1.2rem;
    }

    .menu-button {
        display: block; /* Exibe o botão de menu em telas menores */
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    nav {
        position: absolute;
        background-color: #2c2c2c;
        width: 100%;
        top: 46px;
        display: none;
    }

    .show-menu nav {
        display: block;
    }    

    nav ul {
        flex-direction: column;
    }

    nav ul li {
     text-align: center;
     padding: 0.8rem ;
    }
}

/* Header Styles */

/* Main Content Styles */
.main {
    background-color: #ebebeb;
}

.gray-background {
    background-color: #2c2c2c;
    
}

.page-inner-content {
    max-width: 1280px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
}

.cols {
    display: grid;
    align-items: center;
    justify-content: space-evenly; /* Distribui o espaço uniformemente entre as colunas */
    padding: 4rem 1rem; /* Espaçamento interno das colunas: cima baixo d 4 e esquerda e direita 1  */
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    gap: 3rem; /* Espaçamento entre as colunas */
}

.cols-3 img {
    min-width: 100%;
}

.cols-4 img {
    min-width: 100%;
}

.cols-4 {
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de largura igual */
    gap: 1rem; /* Espaçamento entre as colunas */
}

.cols>* {
    cursor: pointer;
    transition: all 0.2s;
}

.cols>*:hover {
    transform: translateY(-5px);
}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background-color: #0084ff;
    margin: 8px auto 0 auto;
    border-radius: 9999px;
}

.product {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate {
    color: #0084ff;
    font-size: 1.3rem;
}

.product-price span {
    font-weight: 600;
}

.exclusive-container {
    color: #fff;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.exclusive-container img {
    max-width: 500px;
}